/* #home {
  background-image: url('/src/images/3409297.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

.channelContainer {
  display: flex;
  flex-direction: column;
  height: 89vh
}

.chatContainer {
  flex-grow: 1;
  overflow-y: 'auto'
}
